@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");

:root {
	/*--accent-color: #03989E;*/
	--accent-color: #09C2CA;
	--bg-color: #1D1D1D;
	--text-color-light: #EBEBEB;
	--text-color-dark: #191A1D;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color-light);
	font-family: 'Lato', sans-serif;
}

.color-accent {
	color: var(--accent-color);
}

h1 {
	font-size: 4em;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: var(--text-color-light);
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* LEFT MENU */
.menu {
	background-color: #181818;
	color: #909096;
	width: 13rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-top, .menu-bottom {
	height: 20vh;
}

.menu-top {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.menu .menu-top a {
	font-size: 4em;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.menu .menu-nav {
	width: 100%;
	text-align: center;
}

.menu .menu-nav a {
	color: #909096;
	display: block;
	width: 100%;
	line-height: 3em;
	font-size: 1.3em;
	border-top: 1px solid #4D4D4D;
}

.menu .menu-nav a:last-child {
	border-bottom: 1px solid #4D4D4D;
}

.menu .menu-nav a:hover {
	color: var(--accent-color);
}

.menu-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 1em;
}

@media only screen and (max-width: 768px) {
	.menu {
		width: 100%;
		z-index: -99;
		opacity: 0;
	}
	
	.mobile-open .menu {
		z-index: 98;
		opacity: 1;
	}
	
	#mobile-btn {
		z-index: 99;
		position: fixed;
		right: 10px;
		top: 10px;
	}
	
	#mobile-btn-open, .mobile-open #mobile-btn-close {
		display: block;
	}
	
	.mobile-open #mobile-btn-open, #mobile-btn-close {
		display: none;
	}
	
	
}

/* MAIN CONTENT */
main {
	margin-left: 13rem;
}



